<div class="page-wrapper">    

  <!-- all plants -->
  <div class="content-box bg-white rounded-4 p-4">

    <div class="d-flex justify-content-between flex-wrap align-items-center mb-4 gap-2">
      <div>
        <h3 class="fw-bold mb-1">Add Plants</h3>
        <p class="text-success small mb-0">Add All Plants Here</p>
      </div>      
    </div>

    <div class="content-box bg-white rounded-4">
        <form #f="ngForm" (ngSubmit)="onSubmit()">
            <div class="mb-3">
                <label for="user_id" class="form-label">User Id</label>
                <input type="text" id="user_id" name="user_id" class="form-control" [(ngModel)]="plant.user_id" required>
            </div>
            <div class="mb-3">
                <label for="plant_name" class="form-label">Plant Name</label>
                <input type="text" id="plant_name" name="plant_name" class="form-control" [(ngModel)]="plant.plant_name" required>
            </div>
            <div class="mb-3">
                <label for="species" class="form-label">Species</label>
                <input type="text" id="species" name="species" class="form-control" [(ngModel)]="plant.species" required>
            </div>
            <div class="mb-3">
                <label for="watering_frequency" class="form-label">Watering Frequency (per week)</label>
                <input type="number" id="watering_frequency" name="watering_frequency" class="form-control" [(ngModel)]="plant.watering_frequency" required>
            </div>
            <div class="mb-3">
                <label for="fertilizing_frequency" class="form-label">Fertilizing Frequency (per week)</label>
                <input type="number" id="fertilizing_frequency" name="fertilizing_frequency" class="form-control" [(ngModel)]="plant.fertilizing_frequency" required>
            </div>
            <div class="mb-3">
                <label for="care_instructions" class="form-label">Care Instructions</label>
                <textarea id="care_instructions" name="care_instructions" class="form-control" rows="3" [(ngModel)]="plant.care_instructions" required></textarea>
            </div>
            <button type="submit" class="btn btn-success">Add Plant</button>
        </form>
    </div>
</div>
